
.custom-toast {
    background-color: #82df7a;
    color: #070606;
  }
  
  .custom-toast-body {
    font-size: 16px;
    background-color: #e7f376;
    border-color: #070606;
  }
  
  .custom-toast-progress {
    background-color: rgba(43, 255, 0, 0.815);
  border-color: aqua;
  }
  .small-textfield .MuiInputBase-input {
    padding: 5px;
    font-size: 12px; 
    
  }
  
  .small-textfield .MuiOutlinedInput-root {
    width: 200px;
   
  }
  .search .MuiInputBase-input {
    padding: 5px;
    font-size: 12px; 
    
  }
  
  .search .MuiOutlinedInput-root {
    width: 215px;
    border-radius: 15px;
    border: #070606;
    padding: 3px;
  }
  .verysmall-textfield .MuiOutlinedInput-root {
    width: 40px;
  }
  .verysmall-textfield .MuiInputBase-input {
    padding: 5px;
    font-size: 12px; 
    
  }
  .datepicker .MuiInputBase-input {
    padding: 5px;
    font-size: 12px; 
    padding-bottom: 0%;
    
  }
  
  .datepicker .MuiOutlinedInput-root {
    width: 200px;
    padding-bottom: 0%;
  }
  .datepicker.MuiStack-root {
    overflow: hidden;
    padding-top: 0%;
  }
  .datepicker .react-datepicker-wrapper {
    width: 100%; /* Adjust width as needed */
  }
  .datepicker .react-datepicker__input-container input {
    width: 100%; /* Adjust width as needed */
    padding: 8px; /* Adjust padding as needed */
    font-size: 14px; /* Adjust font size as needed */
  }
  .datepicker .react-datepicker-popper {
    z-index: 9999; /* Ensure the date picker appears above other elements */
  }
  .custom-Typography .css-ahj2mt-MuiTypography-root{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100;
    font-weight:900;
    color: blue;
    margin: 0;
    line-height:0;
    letter-spacing:0;
    justify-content: center;
    /* Add any other styles as needed */
  }

  .customHeader .MuiDataGrid-columnHeaderTitle {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 0;
    justify-content: center;
    color: rgb(10, 10, 10);
    font-size: large;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.customCalendar{
  padding: auto;
  width: 15px;
  border-radius: 5px;
}
.activeCell {
  color: green;
  font-weight: bold;
}

.inactiveCell {
  color: red;
  font-weight: bold; 
}
.css-vhiuen-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root{
  width: 200px !important;
}
.label{
  color: blue;
  font-weight: 600;

}
.custom-datepicker.MuiStack-root {
  padding-top: 0;
}
/* .custom-datepicker .MuiInputBase-input {
  padding-top: 0;
  padding-bottom: 0;
} */